/* Siga as orientações no arquivo README para concluir o exercício */

.container {
    font-family: Arial, sans-serif;
    padding: 20px;
    color: #972424;
    background-color: green;
}

div.cabecalho{
    background-color: #d88686;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title{
    color: #fff;
    font-weight: bold;
    font-size: 32px;
}
.sub{
     color: #6b5959;
}
.conteudo {
    background-color: #84b952;
    color: #24338a;
}

/* desafio */
.conteudo p {
    color: #E4005A;
    font-size: 42px;
}

/* Desafio plus */
.conteudo p:nth-child(4){
 color: #800080;   
 text-decoration: underline;
}

/* Desafio plus 2 */

@media screen and (max-width: 480px) {
    .container{
        background-color: #ADD8E6;
    }
}